<%- include('partials/head.ejs') %>

<body>
    <h1>Beakem</h1>
    <h2>The best app to rate your music</h2>
    <form action="localhost:3100/album" method="post">
        <input type="text">
        <button>Submit</button>
    </form>
</body>
</html>