<% layout('layouts/boilerplate')%>

<div>
  <% albums.sort(function (a, b) { %> <%return b.rating - a.rating; %> <% }); %>

  <h1><%= artist %> Albums</h1>
  <ul>
    <% for(let album of albums){%>
    <li>
      <a href="/albums/<%= album._id %>"><%= album.name %></a>
      <%=album.rating%>
    </li>
    <% } %>
  </ul>

  <% if(artist === 'All') {%>
  <a href="/albums/new">Rate a new album</a>
  <% } else{ %>
  <a href="/albums">See all albums</a>
  <% } %>
</div>
