<% layout('layouts/boilerplate')%>

<div class="card">
  <h5 class="card-header">Add a new album</h5>
  <form action="/albums" method="POST" novalidate class="validated-form">
    <div class="row justify-content-around">
      <div class="col-md-4">
        <label for="name">Album name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please add the album name.</div>
      </div>
      <div class="col-md-4">
        <label for="artist">Artist</label>
        <input
          type="text"
          name="artist"
          id="artist"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please add the album artist.</div>
      </div>
      <div class="col-md-1">
        <label for="rating">Rating</label>
        <input
          type="float"
          name="rating"
          id="rating"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please add the album rating.</div>
      </div>
      <div class="row">
        <div class="mt-3">
          <button class="btn btn-light">Submit</button>
          <a href="/albums" class="btn btn-dark mt-2">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>
