<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card text-center">
      <div class="card-header">Oops!</div>
      <div class="card-body">
        <h5 class="card-title">Error</h5>
        <p class="card-text"><%= err %></p>
        <a href="/albums" class="btn btn-primary">Back yo your albums</a>
      </div>
    </div>
  </div>
</div>
