<%- include('partials/head.ejs') %>

  <body>
    <h1>What do you want to change in your album?</h1>
    <form method="POST" action="/albums/<%=album.id%>?_method=PATCH">
      <textarea name="album" id="" cols="30" rows="2">
        <%= album.album %>
      </textarea>
      <button>Submit your changes</button>
    </form>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
