<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>Add a new album</h1>
    <form action="/albums" method="post">
        <label for="addAlbum">What album are you adding to your list</label>
        <section>
            <input type="text" name="album" placeholder="album" id="addAlbum">
            <input type="rate" name="rate">
        </section>
        <button>Submit</button>
    </form>


</body>
</html>