<% layout('layouts/boilerplate')%>

<div><% const noRepeat = [...new Set(artists)] %></div>
<div><% noRepeat.sort() %></div>

<h1 style="color: #54b4d3">Artists</h1>

<ul>
  <% for(let artist of noRepeat){%>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="card mb-3" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title"><%= artist %></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Genre(Soon)</li>
            <li class="list-group-item">
              <a href="/albums?artist=<%= artist %>">
                <button class="btn btn-info">
                  See your rated <%= artist %> albums
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% } %>
</ul>
